In [6]:
company = "PWWWWSSSilllls "
print("company",company)
print("company {company}")  ## wwill not rint the value here
print(f"company is {company}") #fstring
print("company :: {}".format(company))
print("company :: {abc}".format(abc = company))

company PWWWWSSSilllls
company {company}
company is PWWWWSSSilllls
company :: PWWWWSSSilllls
company :: PWWWWSSSilllls

In [8]:
name = "Palash"
age = 32
degree = "MBA"
print(f'my name is {name} and I have comleted : my degree of {degree} at the age of {age}')
print("my name is {} and I have comleted : my degree of {} at the age of {}".format(name,degree, age))
print("my name is {p} and I have comleted : my degree of {d} at the age of {a}".format(p=name,d=degree,a= age))

my name is Palash and I have comleted : my degree of MBA at the age of 32
my name is Palash and I have comleted : my degree of MBA at the age of 32
my name is Palash and I have comleted : my degree of MBA at the age of 32

In [9]:
#input of age
age=int(input('enter your age'))
if age>=18 and age<=45:
    print('You are young blood')

enter your age 44

You are young blood

In [14]:
price = int(input("enter roduct rice"))
if price>1000 and price <= 2000:
    if price ==1999:
        print("additional gift")
    print(f"20% discount{0.8*price}")
elif price >2000 :
    print("22")

else:
    print("30 disc {}".format(price*0.7))

enter roduct rice 1999

additional gift
20% discount1599.2

In [11]:
company = "PWWskilllllllzzzz"
print("company :: {}".format(company)) ## variable are case sensitive so wont pick up

company :: PWWskilllllllzzzz

In [14]:
#while loop
date=56
while date<=60:
    date = date+1
    print(date)
else: print("its time for retirement")

57
58
59
60
61
its time for retirement

In [16]:
amt=1000
while amt != 0:
    amt = amt - 100
    print(amt)
else: print("no money")

900
800
700
600
500
400
300
200
100
0
no money

In [24]:
#for loop
list1=[1,56,897,'w',"pals"]
for x in list1: 
    print(x, end =' ')  #for outut in same linne
    if x == "w" : print( 'its w')

1 56 897 w its w
pals

In [25]:
#nested loops

In [26]:
range(1,9)

range(1, 9)

In [28]:
for i in range(1,4):print(i)

1
2
3

In [6]:
#to print * in right angled triangle design using Nested Loops examle
n=5
for i in range(0,n):
    for j in range(0,i):
        print("*",end="")
        
    print("\r")

*
**
***
****

In [7]:
flist=["asd","as","aa","re"]

In [11]:
for i in flist:
    if i=="as":
        print("it is as")
    print(i)

asd
it is as
as
aa
re

In [12]:
for i in flist:
    if i=="as":
        print("it is as")
        break
    print(i)

asd
it is as

In [13]:
for i in flist:
    if i=="as":
        print("it is as")
        pass

    print(i)

asd
it is as
as
aa
re

In [14]:
for i in flist:
    if i=="as":
        print("it is as")
        continue
    print(i)

asd
it is as
aa
re